@use "variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  border-color: $color-border;
}

* {
  margin: 0;
}

html {
  scrollbar-gutter: stable;
  scroll-behavior: smooth;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus,
a:visited,
a:active {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
  padding: 0;
}
