@use "../base/variables" as *;
@use "../base/mixins" as *;

.projects-grid {
  margin-top: $space-6;
  display: grid;
  grid-template-columns: 1fr;
  gap: $space-4;

  @include respond-to(sm) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond-to(lg) {
    grid-template-columns: repeat(4, 1fr);
    gap: $space-5;
  }
}
