@use "../../../assets/styles/base/variables" as *;
@use "../../../assets/styles/base/mixins" as *;

.input {
  display: flex;
  height: 2.5rem;
  width: 100%;
  border-radius: $radius-xl;
  border: 1px solid $color-input;
  background-color: $color-background;
  padding: $space-2 $space-3;
  font-size: 0.875rem;
  color: $color-foreground;

  &::placeholder {
    color: $color-muted-foreground;
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px $color-ring;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &[type="file"] {
    border: 0;
    background-color: transparent;
    font-size: 0.875rem;
    font-weight: 500;
  }
}
